<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-a</key>
	<array>
		<string>à</string>
		<string>á</string>
		<string>ã</string>
	</array>
	<key>Roman-Accent-A</key>
	<array>
		<string>À</string>
		<string>Á</string>
		<string>Ã</string>
	</array>
	<key>Roman-Accent-e</key>
	<array>
		<string>è</string>
		<string>é</string>
		<string>ẽ</string>
		<string>ẹ</string>
		<string>ẹ̀</string>
		<string>ẹ́</string>
		<string>ẹ̃</string>
	</array>
	<key>Roman-Accent-E</key>
	<array>
		<string>È</string>
		<string>É</string>
		<string>Ẽ</string>
		<string>Ẹ</string>
		<string>Ẹ̀</string>
		<string>Ẹ́</string>
		<string>Ẹ̃</string>
	</array>
	<key>Roman-Accent-i</key>
	<array>
		<string>ì</string>
		<string>í</string>
		<string>ĩ</string>
	</array>
	<key>Roman-Accent-I</key>
	<array>
		<string>Ì</string>
		<string>Í</string>
		<string>Ĩ</string>
	</array>
	<key>Roman-Accent-o</key>
	<array>
		<string>ò</string>
		<string>ó</string>
		<string>õ</string>
		<string>ọ</string>
		<string>ọ̀</string>
		<string>ọ́</string>
		<string>ọ̃</string>
	</array>
	<key>Roman-Accent-O</key>
	<array>
		<string>Ò</string>
		<string>Ó</string>
		<string>Õ</string>
		<string>Ọ</string>
		<string>Ọ̀</string>
		<string>Ọ́</string>
		<string>Ọ̃</string>
	</array>
	<key>Roman-Accent-u</key>
	<array>
		<string>ù</string>
		<string>ú</string>
		<string>ũ</string>
	</array>
	<key>Roman-Accent-U</key>
	<array>
		<string>Ù</string>
		<string>Ú</string>
		<string>Ũ</string>
	</array>
	<key>Roman-Accent-s</key>
	<array>
		<string>ṣ</string>
	</array>
	<key>Roman-Accent-S</key>
	<array>
		<string>Ṣ</string>
	</array>
</dict>
</plist> 